html{
	background-color: white;
}
body{
	margin: 0;
	padding: 0;
}
.box1{
	width: 100%;
	height: 250px;
}
.box2{
	width: 808px;
	height: 646px;
	vertical-align: middle;
}
.box3{
	width: 758px;
	height: 154px;
	border: 1px solid gray;
}
.one{
	font-size: 25px;
	line-height: 25px;
	margin-top: 20px;
	font-family: arial;
	text-align: center;
}
.one_1{
	font-size: 14px;
	line-height: 14px;
	font-family: arial;
	text-align: center;
}
div a:hover{
	background-color: gray;
}